/WebApplication_06/nbproject/private/
/WebApplication_06/build/
/WebApplication07_a/nbproject/private/
/WebApplication07_a/build/
/WebApplication07_b/nbproject/private/
/WebApplication07_b/build/
/WebApplication07_c/nbproject/private/
/WebApplication07_c/build/
/WebApplication08/nbproject/private/
/WebApplication08/build/
/WebApplication09/nbproject/private/
/WebApplication09/build/
/WebApplication11/nbproject/private/
/WebApplication11/build/
/Assiment/nbproject/private/
/Assiment/build/
/WebApplication_12/nbproject/private/
/WebApplication12/nbproject/private/
/Assiment/dist/
/Workshop1/nbproject/private/
/Workshop1/build/
/WebApplication13/nbproject/private/
/WebApplication12/build/
/Workshop1/dist/
/WebApplication13/build/
/WebApplication_14/nbproject/private/
/WebApplication_14/build/
/Workshop2/nbproject/private/
/Workshop2/build/